.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 0 48px;
  width: 100vw;
  height: 36px;
  position: fixed;
  bottom: 0;
  background-color: var(--color-primary);
  border-top: 4px solid var(--color-blue-dark);
  color: #fff;
  font-size: 0.8rem;
}

.footer-container a {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 4px;
}

.footer-container i {
  font-size: 20px;
}
