.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 48px;
  width: 100vw;
  height: 72px;
  background-color: var(--color-primary);
  border-bottom: 4px solid var(--color-blue-dark);
}

.header-logo > img {
  width: 176px;
}

.header-actions {
  display: flex;
  gap: 48px;
  color: #fff;
}

.header-actions i {
  font-size: 20px;
}

.header-menu-items {
  display: flex;
  gap: 16px;
}

.header-menu-item {
  display: flex;
  align-items: center;
  gap: 4px;
  text-decoration: none;
  color: #fff;
}

.header-basket {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  color: #fff;
}

.basket-quantity {
  display: none;
  position: absolute;
  right: -12px;
  top: -12px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  color: var(--color-primary);
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
}
